<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Here Are The Awesome Quotes!</h1>
            <hr>
        </div>

        <div class="quotebody">
            <% for (quote in all_quotes) { %>
                <h3>"<%= all_quotes[quote].quote %>"</h3>
                <p>- <%= all_quotes[quote].name %> at <%= all_quotes[quote].createdAt %></p>
                <p>Likes: <%= all_quotes[quote].likes %></p>
                <br>
                <form action="/quotes/like/<%= all_quotes[quote]._id %>" method="POST">
                    <input type="submit" value="Click to like">
                </form>
                <br>
                <hr>
            <% } %>
        
        </div>

        <div class="bottom">
            <button><a href="/">Add more Quotes!</a></button>
        </div>
    </div>
</body>
</html>