<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Results</title>
</head>
<body>
    <div class="wrapper">
        <div class="flashbox">
            <p>Thanks for submitting this form! You have submitted this form <%= counter %> times now.</p>
        </div>
        <div class="resultbox">
            <H2>Submitted Info</H2>
            <p>Name: <%= name %></p>
            <p>Dojo Location: <%= location %></p>
            <p>Favorite Language: <%= language %></p>
            <p>Comment: <%= comment %></p>
            <a href="/"><button>Go Back</button></a>

        </div>
    </div>
</body>
</html>