<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>
    <h1>The Dojo Message Board</h1><hr>
    <form action="/post" method="post">
        <h4>Name:</h4>
        <input type="text" name="name">
        <br>
        <h4>Message:</h4>
        <textarea rows="5" cols="170" name="message"></textarea>
        
        <br><input type="submit" value="Post Message">
    </form>
    <%for(var x of p){%>
        
        <h2 style="margin-left:50px;">Name: <%=x.name%></h2>
        <h2 style="margin-left:50px;">Message: <%=x.message%></h2>
        <%for(var y of x.comments){%>
            <h3 style="margin-left:110px;">Name: <%= y.name%></h3>
            <h3 style="margin-left:110px;">Comment: <%= y.message%></h3>
            <br>
        <%}%>
        <form action="/comment/<%=x._id%>" method="post" style="margin-left:110px;">
            <h4>Name:</h4>
            <input type="text" name="comment_name">
            <br>
            <h4>Comment:</h4>
            <textarea rows="5" cols="150" name="comment_message"></textarea>
            
            <br><input type="submit" value="Post Comment">
        </form>
    <%}%>
    
</body>
</html>