<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Details</title>
</head>
<body>
    <div class="container">
        <h1>Details Page for <%= cat[0].name %></h1>
        <div class="infobox">
            <h3>Favorite food: <%= cat[0].food %></h3>
            <h3>Age: <%= cat[0].age %></h3>
            <h3>Sleeping spots:</h3>
            <h4><%= cat[0].sleep1 %></h4>
            <h4><%= cat[0].sleep2 %></h4>
        </div>
    </div>
</body>
</html>