<h1>Information about cat "<%=cat.name%>"</h1>
<p>-Their favorite color is "<%=cat.favorite_color%>"</p>
<p>-Their ID number is "<%=cat._id%>"</p>
<p>-Created at: "<%=cat.createdAt%>"</p>
<p>-Updated at: "<%=cat.updatedAt%>"</p>
<a href="/cats/edit/<%=cat._id%>">Edit this cat?</a>
<br>
<a href="/">Home</a>